body {
	text-align: center;
	color: white;
	font-family: PT Sans;
	background-color: #102542; 
}
.content {
	font-size: 20px;
}
#title {
	font-size: 68px;
	color: #3E92CC;
}

#recent {
	font-size: 35px;
	color: #FF6700;
}

.orange {
	color: #FF6700;
}

a {
    text-decoration: none;
}
